.container {
  max-width: 1300px;
  margin: 0 auto;
}
.top_container{
  width: 1660px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.main_title {
  font-size: 42px;
  font-weight: 900;
  color: var(--main_blue_dark);
  margin-bottom: 5px;
}

.sub_title {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark2);
}