*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sweet';
  color: #686C72;
}
a{
  text-decoration: none;
  cursor: pointer;
}
ul,ol{
  list-style: none;
}
input{
  outline: none;
}
button{
  cursor: pointer;
}